/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

.logo-image {
  height: 50px; /* Adjust size */
  width: auto;
}
.home {

}

a {
  text-decoration: none; /* Ensures all links have no underline */
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

.nav a:hover {
  color: #0335ff;
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-bottom: 2px solid #1f31fc;
}

.logo1 {
  font-size: 24px;
  font-weight: bold;
  color: #fc481f;
}

/* Auth Buttons */
.auth-buttons .login-btn,
.auth-buttons .signup-btn {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.login-btn {
  background-color: #fc481f;
  color: white;
  width: 120px;
  border-radius: 5px;
}

.signup-btn {
  background-color: #333;
  color: white;
  width: 100px;
  border-radius: 5px;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 80px 20px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 63vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.intro h1 {
  font-size: 48px;
  margin: 20px 0;
  color: #333;
}

.intro p {
  font-size: 18px;
  color: blue;
  margin-bottom: 20px;
}

.more-info-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fc481f;
  border: none;
  color: white;
  width: 200px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
}

/* Features Section */
.features {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
  flex-wrap: wrap;
}

.feature {
  text-align: center;
  margin: 0 20px;
  max-width: 300px;
  flex: 1;
}

.feature span {
  font-size: 24px;
  font-weight: bold;
  color: #fc481f;
}

.feature p {
  font-size: 16px;
  color:rgb(0, 0, 0);
  margin-top: 10px;
  background-color: #ffffff;
  width: 340px;
}

/* Footer */ 
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .intro h1 {
    font-size: 36px;
  }

  .intro p {
    font-size: 16px;
  }

  .more-info-btn {
    width: 100%;
  }

  .features {
    flex-direction: column;
    margin-top: 30px;
  }

  .feature {
    margin-bottom: 20px;
    max-width: 100%;
  }

  .footer {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .intro h1 {
    font-size: 28px;
  }

  .intro p {
    font-size: 14px;
  }

  .more-info-btn {
    width: 150px;
  }

  .feature span {
    font-size: 20px;
  }

  .feature p {
    font-size: 14px;
  }

  .footer {
    font-size: 12px;
  }
}
